* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  padding-left: 20px;
}

:root {
  --color-text: black;
  --color-background: white;
  --color-border: rgba(136, 136, 136, 0.4);
  --color-passive: rgb(136, 136, 136);
  --color-passive-dark: rgba(136, 136, 136, 0.7);
  --color-hover: rgba(136, 136, 136, 0.15);
  --color-active: rgba(136, 136, 136, 0.25);
  --color-link: #007bff;
  --color-visited: #a600ff;

  --color-red: #FC4F4F;
  --color-green: #45C768;
  --color-yellow: #FFBF44;
  --color-blue: #3C89FF;

  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  word-break: keep-all;
  font-size: 14px;
  user-select: none;
  line-height: 18px;
}

footer {
  color: var(--color-passive-dark) !important;

  display: grid;
  grid-template-columns: 36px max-content;
  column-gap: 10px;
  justify-content: center;

  margin: 0 auto;
}

footer img {
  width: 36px;
  height: 36px;
  opacity: 0.7;
}

footer div {
  font-size: 14px;
}

a {
  display: inline-block;
  position: relative;
}

a:link {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:before {
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  top: -3px;
  left: -3px;
  border-radius: 4px;
  pointer-events: none;
  z-index: -1;
}

a:hover:before {
  background-color: rgba(136, 136, 136, 0.2);
}

a:visited {
  color: var(--color-visited);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: white;
    --color-background: black;
    --color-link: #4fa4ff;
    --color-visited: #f475ff;
  }
}

ul {
  list-style-type: none;
}

ul li {
  position: relative;
}

ul li:before {
  content: "-";
  position: absolute;
  left: -15px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

/* header */

header {
  overflow: hidden;
  height: 60px;
  box-sizing: border-box;
  background-color: var(--color-background);

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  transition: border-bottom 0.1s;
}

header[data-scroll] {
  border-bottom: 1px solid var(--color-border);
}

header > .container {
  padding: 0 24px;
  box-sizing: border-box;
  max-width: 1176px;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
}

header > .container > div {
  display: flex;
  align-items: center;
  overflow: hidden;
}

header > .container > div > h1 {
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

header button.icon-button {
  flex-shrink: 0;
  cursor: pointer;
  color: var(--color-text);
  background-color: transparent;
  outline: none;
  border: none;
}

header button.back {
  margin-right: 20px;
}

@media ((hover: hover) and (pointer: fine)) {
  header button.icon-button:hover {
    opacity: 0.7;
  }
}

header button.icon-button:active {
  opacity: 0.5;
}

#contents {
  flex: 1;
  position: relative;
  padding: 0 24px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  max-width: 1176px;
  margin: 0 auto;
  width: 100%;
}

@keyframes LoadingAnimation {
  0% {
    background-color: var(--color-border);
  }
  50% {
    background-color: var(--color-passive);
  }
  100% {
    background-color: var(--color-border);
  }
}

.loading {
  display: inline-flex;
  column-gap: 6px;
}

.loading > span {
  width: 12px; height: 12px;
  border-radius: 50%;
  background-color: var(--color-border);
  animation: LoadingAnimation 1.4s ease-in-out infinite;
}

.loading[data-size="small"] {
  column-gap: 4px;
}

.loading[data-size="small"] > span {
  width: 8px; height: 8px;
}

.loading > span:nth-of-type(2) {
  animation-delay: 200ms;
}

.loading > span:nth-of-type(3) {
  animation-delay: 400ms;
}

.loading > span:nth-of-type(4) {
  display: none;
}

#topTrigger {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
}

.button[type="submit"] {
  width: 100%;
}

.button {
  border: 0px;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 18px;
  height: 42px;
  border-radius: 8px;
  background-color: var(--color-text);
  color: var(--color-background);
  font-weight: 400;
  transition: opacity 0.1s, transform 0.1s;
}

.button .icon {
  font-size: 18px;
}

@media ((hover: hover) and (pointer: fine)) {
  .button:hover {
    opacity: 0.7;
  }
}

.button:active {
  opacity: 0.7;
  transform: scale(0.97);
}

/* icon */

.icon {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-icon);
  font-size: 24px;
  line-height: 24px;
}

.insd-github {
  display: none;
}

/* desktop */
/* 모바일 환경 기준으로 개발하고, 데스크탑 환경을 media query로 대응하였음. */
@media (min-width: 900px) {
  header {
    height: 80px;
  }

  header > .container {
    padding: 0 48px;
  }

  #contents {
    padding: 0 48px;
  }

  .insd-github {
    display: inline-block;
  }
}
