#topTrigger {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
}

header {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  transition: border-bottom 0.1s;
}

header[data-scroll] {
  border-bottom: 1px solid var(--color-border);
}

.summary {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 36px;
}

.summary > .weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.summary > .weather > picture {
  width: 96px;
  height: 96px;
  margin-bottom: 10px;
}

.summary > .weather > .minmax {
  font-size: 26px;
  line-height: 34px;
  font-weight: 500;

  display: flex;
  column-gap: 12px;
  margin-bottom: 4px;
}

#summary-weather-min {
  color: var(--color-passive);
}

#summary-weather-message {
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.summary > .termbar {
  display: flex;
  padding: 0 24px;
}

.summary > .termbar > .item {
  flex: 1;
  position: relative;
  height: 88px;
}

.summary > .termbar > .item:nth-last-child(1) {
  flex: 0;
}

.summary > .termbar > .item:before,
.summary > .termbar > .item:after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--color-border);
}

.summary > .termbar > .item:before {
  left: -1px;
  top: 34px;
  width: 2px;
  height: 10px;
  border-radius: 1px;
}

.summary > .termbar > .item:after {
  top: 38px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  width: calc(100% - 4px);
  left: 1px;
  height: 2px;
}


.summary > .termbar > .item[data-rain]:before,
.summary > .termbar > .item[data-rain]:after {
  background-color: var(--color-blue);
  z-index: 1;
}

.summary > .termbar > .item:nth-last-child(1):after {
  content: unset;
}

.summary > .termbar > .item > * {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}

.summary > .termbar > .item > picture {
  top: 0;
  width: 24px;
  height: 24px;
}

.summary > .termbar > .item > div {
  bottom: 0;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 16px;
}

.summary > .termbar > .item > div > p:nth-child(2) {
  color: var(--color-passive);
}

#summary-weather-icon {
  width: 96px;
  height: 96px;
  margin-bottom: 10px;
}

.warn {
  cursor: pointer;

  height: 60px;
  padding: 0 18px;
  margin-bottom: 19px;
  
  background-color: var(--color-passive);
  color: white;
  border-radius: 12px;

  display: flex;
  align-items: center;
  column-gap: 8px;
}

.warn[data-type="clear"] {
  background-color: var(--color-green);
}

.warn[data-type="warn"] {
  background-color: var(--color-yellow);
  color: black;
}

@media ((hover: hover) and (pointer: fine)) {
  .warn:hover {
    opacity: 0.7;
  }
}

.warn:active {
  opacity: 0.5;
}

#tabs {
  width: calc(100% + 48px);
  margin-left: -24px;

  position: sticky;
  top: -1px;
  height: 49px;
  box-sizing: border-box;
  padding: 0 24px;
  padding-top: 1px;
  margin-bottom: 24px;
  
  display: flex;
  background-color: var(--color-background);
  z-index: 20;
  column-gap: 10px;

  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;

  transition: border-color 0.1s;
}

#tabs[data-sticky] {
  border-bottom: 1px solid var(--color-border);
}

#tabs > button {
  flex: 1;
  background-color: transparent;
  color: var(--color-passive-dark);
  outline: none;
  border: 0;
  position: relative;

  font-family: var(--font-text);
  font-size: 16px;
  line-height: 22px;

  border-radius: 8px;
}

#tabs > button:active {
  background-color: var(--color-active);
}

#tabs > button[data-active] {
  color: var(--color-text);
  pointer-events: none;
}

@media ((hover: hover) and (pointer: fine)) {
  #tabs > button:hover {
    background-color: var(--color-hover);
  }
}

#tabs > button[data-active]:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  border-radius: 1px;
}

.byDate > ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 120px;
}

.byDate > ul > li {
  display: grid;
  grid-template-columns: 56px max-content 1fr;
  column-gap: 20px;
  align-items: center;
}

.byDate > ul > li:before {
  content: unset;
}

.byDate > ul > li > .date {
  font-size: 12px;
  line-height: 16px;
  
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.byDate > ul > li > .date > p:nth-child(1) {
  font-weight: 700;
}

.byDate > ul > li > .weather {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 22px;

  column-gap: 10px;
}

.byDate > ul > li > .others {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 12px;
  line-height: 16px;

  row-gap: 2px;
}

.byDate > ul > li > .others > .temperature {
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 4px;
}

.byDate > ul > li > .others > .temperature > .progress {
  flex: 1;
  max-width: 60px;
  height: 2px;
  position: relative;

  background-color: var(--color-border);
  border-radius: 1px;
}

.byDate > ul > li > .others > .temperature > .progress:before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: calc((var(--start) - var(--min)) / (var(--max) - var(--min)) * 100%);
  width: calc((var(--end) - var(--start)) / (var(--max) - var(--min)) * 100%);
  height: 100%;
  
  background-color: var(--color-yellow);
  border-radius: 1px;
}

.byDate > ul > li > .others > .dust {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.byDate > ul > li > .others > .dust > span:nth-child(2) {
  color: var(--color-dust)
}

footer {
  margin-bottom: 60px;
}